.first-screen {
  min-height: 668px;
  box-sizing: border-box;
  overflow: hidden;
  background: url(../assets/first-screen-bg.svg) top -24px right -2px no-repeat;

  @include laptop {
    min-height: auto;
  }

  & .container {
    position: relative;
    padding-top: 249px;

    @include tablet {
      padding-top: 92px;
      padding-bottom: 20px;
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    max-width: 380px;

    @include tablet {
      max-width: none;
      margin: 0 0 10px;
    }
  }

  &__title {
    margin: 0 0 25px;
    font-weight: 500;
    font-size: 28px;
    color: #475880;

    @include tablet {
      max-width: none;
      margin: 0 0 20px;
      font-size: 26px;
    }
  }

  &__download {
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18px;
      padding: 15px 36px;
      box-sizing: border-box;
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
      color: #fff;
      border: none;
      border-radius: 6px;
      background-color: #7474e2;
      transition: filter ease-in-out 0.2s;
      cursor: pointer;

      @include tablet {
        width: 100%;
      }

      @include mobile {
        padding: 12px 36px;
        font-size: 16px;
        line-height: 22px;
      }

      &:hover {
        filter: brightness(1.2);
      }

      &::after {
        content: '';
        flex: 0 0 auto;
        display: block;
        width: 24px;
        height: 24px;
        background: url(../assets/download.svg) center / cover no-repeat;

        @include mobile {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &__figure {
    position: absolute;
    top: 87px;
    left: 252px;

    @include laptop {
      left: 320px;
    }

    @include tablet {
      position: static;
      margin: 0 -20px;
    }

    &-image {
      display: block;
      max-width: 1020px;
      height: auto;

      @include tablet {
        max-width: 100%;
      }

      @include mobile {
        width: 100%;
        height: 345px;
        object-fit: cover;
      }
    }
  }
}
